<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://ep-cold-rice-a2d6s594.eu-central-1.aws.neon.tech/pc3r?sslmode=require</property> <!-- BD Mane -->
        <property name="connection.username">pc3r_owner</property> <!-- BD User -->
        <property name="connection.password">Jd94wSUehiVs</property> <!-- BD Password -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->


        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property>



    </session-factory>
</hibernate-configuration>